/* Border radius. */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin button-theme($color_theme) {
  &:hover, &.active {
    border-color: map-get($color_theme, default);
    color: map-get($color_theme, default);
  }
}

@mixin input-theme($color_theme) {
  &:focus {
    border-color: map-get($color_theme, default);

    & + label {
      color: map-get($color_theme, default);
    }
  }
}
