/* Border radius. */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin button-theme($color_theme) {
  &:hover, &.active {
    border-color: map-get($color_theme, default);
    color: map-get($color_theme, default);
  }

  &.constant {
    border-color: map-get($color_theme, default);
    color: map-get($color_theme, default);
  }
}

@mixin icon-theme($color_theme) {
  &:hover, &.active {
    color: map-get($color_theme, default);
  }
  .icon-wrap:hover & {
    color: map-get($color_theme, default);
  }
  &.constant {
    color: map-get($color_theme, default);
  }
}

@mixin input-focus-theme($color_theme) {
  &:focus {
    @include input-default-theme($color_theme);
  }
}

@mixin input-default-theme($color_theme) {
  border-color: map-get($color_theme, default);

  & + label {
    color: map-get($color_theme, default);
  }
}
