/* Fonts */
$font-logo: Quicksand, sans-serif;
$font: Roboto, sans-serif;
$bold: 500;
$bolder: 600;
$light: 300;

/* Colors */
$black: (
  default: #000,
  main: #23252c,
  light: #7b7b7b
);

$blue: (
  dark: #3f434e,
  default: #4f73b8
);

$purple: (
  default: #8c37ff
);

$orange: (
  default: #ff7302
);

$yellow: (
  default: #efad4e
);

$grey: #2e3038;

$white: #FFFFFF;

$border: (
  light: 2px,
  medium: 3px,
  bold: 4px
);

/* Size */
$footer_height: 100px;

/* Screen */
$screen-xs: 480px !default;
$screen-sm: 768px !default;
$screen-md: 992px !default;
$screen-lg: 1200px !default;
