.form-control {
  transition: map-get($transition, cubic);
}

.form-group {
  margin-bottom: 20px;
}

.form__auth {
  background: map-get($white, default);
  color: map-get($black, main);
  box-shadow: 0 1px 5px rgba(0,0,0,0.05);
  border: 1px solid rgba(0,0,0,0.07);
  padding: 20px 40px 30px;
  border-radius: $border_radius;

  button.btn-default {
    color: map-get($white, default);
  }

  .btn-default {
    background: map-get($black, main);
  }

  @media (max-width: $screen-sm) {
    border-radius: 0;
  }
}

.form__submit {
  margin-top: 35px;
}

.form__auth--landing {
  @media (max-width: $screen-sm) {
    width: 100%;
    padding: 0;
  }
}

.form__hint {
  color: rgba(0,0,0,0.44);
  margin: 0 5px;
}

.footer__icons {
  a {
    margin-right: 15px;

    &:hover {
      color: map-get($black, light);
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
