.toggler-trigger__wrap {
  display: flex;
  align-items: center;
  padding: 0;
}
.toggler-trigger__container {
  width: 51px;
  height: 24px;
  background-color: map-get($black, light);
  margin-left: 3px;
  margin-right: 3px;
  position: relative;
  border-radius: 12px;
  label {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 2px;
    left: 2px;
    cursor: pointer;
    background-color: map-get($black, default);
    border-radius: 50%;
    transition: all .4s ease;
  }
  input[type=checkbox] {
    visibility: hidden;
    &:checked + label {
      left: 27px;
    }
  }
}
.toggler-trigger__desc {
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
}
