.crypto__wrap {
  width: 100%;
  overflow-y: scroll;
  height: 340px;
  min-height: 340px;
  margin-right: 25px;
  max-width: 300px;
}
.crypto__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-right: 5px;

  &:after {
    content: "";
    flex: auto;
  }
}
.crypto__item {
  @extend .border-box;
  cursor: pointer;
  text-align: center;
  width: 33%;
  padding: 0.5em;
  transition: map-get($transition, ease);
  .item__info {
    width: 100%;
    height: 100%;
    padding: 6px;
    background: $grey;
    transition: map-get($transition, ease);
  }
  input[type="radio"] {
    display: none;
    &:checked + .item__info {
      background: map-get($black, default);
    }
  }
  .item__title {
    font-size: 14px;
    font-style: italic;
    margin-bottom: 0;
    text-transform: uppercase;
  }
  .item__icon {
    margin-bottom: 0;
    svg {
      width: 40px;
      height: 40px;
      fill: map-get($white, default);
    }
  }
  &:hover .item__info {
    background: map-get($black, default);
  }

  &.yellow__theme {
    &:hover .item__info {
      background: map-get($yellow, default);
    }
    input[type="radio"] {
      display: none;
      &:checked + .item__info {
        background: map-get($yellow, dark);
      }
    }
  }
}
.balance__form {
  display: flex;
  align-items: stretch;
  margin-top: 25px;
  @media (max-width: $screen-sm) {
    flex-direction: column;
    .crypto__wrap {
      max-width: initial;
      margin: 0 auto 30px auto;
    }
    .crypto__item {
      width: 25%;
      &:hover .item__info {
        background: $grey;
      }
    }
  }
  @media (max-width: $screen-xs) {
    .crypto__item {
      width: 33%;
    }
  }
}

.balance__field {
  flex: 1;
}

.crypto-cart-title__wrap {
  text-align: center;
  width: 100%;
}
.crypto-cart-title {
  font-size: 24px;

  a {
    color: map-get($blue, default);
  }
}
