.crypto-cart-wrap {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;

  &:after {
    content: "";
    flex: auto;
  }

  @media (max-width: $screen-md) {
    &:after {
      content: none;
    }
  }
}

.crypto-cart {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  margin-bottom: 50px;
  width: calc(33% - 50px);

  @media (max-width: $screen-lg) {
    width: calc(50% - 30px);
    margin-right: 30px;
    &:nth-child(2n) {
      margin-right: 0px;
    }
  }

  @media (max-width: $screen-sm) {
    width: 100%;
    margin-right: 0px;
  }
}

.crypto-cart-info {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid map-get($black, light);
}

.crypto-cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  cursor: pointer;

  @each $color in $crypto-colors {
    &.crypto-color-#{nth($color, 1)} {
      border-bottom: 1px solid nth($color, 2) !important;
    }
  }

  h3 {
    font-size: 18px;
    margin: 0;
    color: map-get($white, default);
  }

  span {
    font-size: 20px;
  }
}

.crypto-cart-column {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: column;

  &:last-child {
    margin-right: 0;
  }
}

.crypto-cart-name {
  margin-bottom: 10px;
  font-size: 14px;
  color: map-get($black, light);
}

.crypto-cart-name__right {
  text-align: right;
}

.crypto-cart-value {
  font-size: 26px;
  height: 40px;
}

.crypto-cart-value__profit {
  position: relative;
  color: map-get($red, default);
  padding-left: 16px;

  &:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }

  &.positive {
    color: map-get($orange, default);
    &:before {
      content: '+';
    }
  }

  &.profit {
    color: map-get($green, default);
  }
}

.crypto-cart-tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  height: 0;
  padding: 0;
  visibility: hidden;
  transition: map-get($transition, cubic);
}
.crypto-cart-tools--active {
  visibility: visible;
  height: 70px;
}
.crypto-cart__toggle-wrap {
  position: relative;
  padding-right: 35px;
}
.crypto-cart__toggle-icon {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: calc(-20px / 2);
  height: 20px;
}
.crypto-cart__toggle-icon--active {
  transform: rotateX(-180deg)
}
.crypto-cart-tools__action {
  margin-right: 20px;
  &:last-child {
    margin-right: 0;
  }
}
.crypto-cart-tools__title {
  font-size: 12px;
  color: map-get($black, light);
}

.crypto-cart-tools__button {
  padding: 5px 10px;
  margin-right: 15px;
  &:last-child {
    margin-right: 0;
  }
}

.crypto-cart__field {
  .form-group {
    margin: 0;
    padding: 0;
    height: auto;
  }
  input {
    margin: 0;
    padding: 0;
    font-size: 26px;
    line-height: 26px;
    height: auto;
    border-bottom-width: 1px;
    padding-bottom: 17px;
  }
}

.crypto-cart__field-wrap {
  border-bottom: 0;
  padding-bottom: 0;

  .crypto-cart-name {
    margin-bottom: 13px;
  }

  .crypto-cart-column {
    width: 100%;
  }
}
