.crypto__wrap {
  width: 280px;
  overflow-y: scroll;
  max-height: 332px;
  margin-right: 25px;
}
.crypto__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding-right: 5px;
}
.crypto__item {
  @extend .border-box;
  cursor: pointer;
  text-align: center;
  width: 80px;
  margin: 0 15px 20px 0;
  transition: map-get($transition, ease);

  .item__info {
    width: 100%;
    height: 100%;
    padding: 6px;
    background: $grey;
    transition: map-get($transition, ease);
  }

  input[type="radio"] {
    display: none;
    &:checked + .item__info {
      background: map-get($black, default);
    }
  }

  &:nth-child(3n) {
    margin-right: 0;
  }

  &:nth-last-child(-n+3) {
    margin-bottom: 0;
  }

  .item__title {
    font-size: 14px;
    font-style: italic;
    margin-bottom: 0;
    text-transform: uppercase;
  }

  .item__icon {
    margin-bottom: 0;

    svg {
      width: 40px;
      height: 40px;
      fill: map-get($white, default);
    }
  }

  &:hover .item__info {
    background: map-get($black, default);
  }

  &.yellow__theme {

    &:hover .item__info {
      background: map-get($yellow, default);
    }

    input[type="radio"] {
      display: none;
      &:checked + .item__info {
        background: map-get($yellow, dark);
      }
    }
  }

}

.balance__form {
  display: flex;
  align-items: stretch;
  margin-top: 25px;

  @media (max-width: 650px) {
    flex-direction: column;
    .crypto__wrap {
      margin: 0 auto 30px auto;
    }
  }
}

.balance__field {
  flex: 1;
}
