.btn {
  outline: none !important;
}
.btn-hint {
  color: map-get($black, light);
  background: $white !important;
  padding: 0;
  border: 0;
  text-decoration: underline;
  margin-top: -1px;
  padding-left: 0;
  padding-right: 0;
  width: 115%;
  width: auto;
}
