.btn {
  padding: 8px 12px;
  margin: 0;
  font-size: 14px;
  border-width: map-get($border, light);
  background: transparent;
  color: map-get($black, light);
  border-color: map-get($black, light);
  transition: map-get($transition, cubic);

  &:hover {
    background: transparent;
  }

  &:focus {
    color: map-get($black, light);
    outline: none !important;
  }

  &.black__theme {
    color: map-get($black, default);
    border-color: map-get($black, default);
  }

  &.blue__theme {
    @include button-theme($blue);
  }

  &.purple__theme {
    @include button-theme($purple);
  }

  &.orange__theme {
    @include button-theme($orange);
  }

  &.yellow__theme {
    @include button-theme($yellow);
  }

  &.pink__theme {
    @include button-theme($pink);
  }

  &.white__theme {
    @include button-theme($white);
  }
}

button {
  @extend .btn;
}

.ladda-button {
  @extend .btn;
}

.ladda-label {
  transition: none !important;
}

.btn-hint {
  color: map-get($black, light);
  background: map-get($white, default) !important;
  padding: 0;
  border: 0;
  text-decoration: underline;
  margin-top: -1px;
  padding-left: 0;
  padding-right: 0;
  width: 115%;
  width: auto;
}
