.input__form {
  background: map-get($white, default);
  box-shadow: 0 1px 5px $white;
  border: 0;
  border-bottom: map-get($border, light) solid map-get($black, light);
  padding: 20px 0;
  border-radius: $border_radius;
  background: transparent;
  color: map-get($white, default);
  transition: map-get($transition, cubic);

  &::placeholder {
    color: map-get($black, light);
  }

  &.black__theme {
    color: map-get($black, default);

    &:focus {
      border-color: map-get($black, default);

      &::placeholder {
        color: map-get($black, default);
      }
    }
  }

  &.blue__theme {
    @include input-theme($blue)
  }

  &.orange__theme {
    @include input-theme($orange)
  }

  &.purple__theme {
    @include input-theme($purple)
  }

  &.yellow__theme {
    @include input-theme($yellow)
  }

  &:focus {
    box-shadow: none;
  }
}

.form-group {
  position: relative;
  padding-top: 25px;

  label {
    position: absolute;
    top: 0;
    left: 0;
  }

  &.label__off {
    padding-top: 0;
    position: inherit;

    label {
      position: inherit;
    }
  }
}
